@import url("../src/assets/styles/variables.css");

html,
body,
#root,
.app,
.game {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.app,
.game-cell,
.game-step {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 400px;
    height: 400px;
}

.game-info {
    text-align: center;
}

.game-step,
.game-result {
    padding: 10px;
}

.game-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.game-result {
    height: 63px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.game-result-winner_O {
    background-color: var(--background_O);
}

.game-result-winner_X {
    background-color: var(--background_X);
}

.game-result span {
    display: flex;
    align-items: center;
}

.game-result .symbol,
.game-step .symbol {
    margin-left: 5px;
}

.game-restart {
    padding: 10px;
    border: 1px solid;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    border: none;
}

.game-restart {
    background-color: var(--primary-background);
}

.game-result-winner_O .game-restart {
    background-color: var(--color_O);
}

.game-result-winner_X .game-restart {
    background-color: var(--color_X);
}

.game-fild {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
}

.game-cell {
    flex: 0 0 33.333%;
    height: 130px;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
}

.game_disabled .game-cell {
    background-color: var(--primary-background_light);
    cursor: default;
}

.game-cell.game-cell_winner.game-cell_O {
    background-color: var(--background_O);
}

.game-cell.game-cell_winner.game-cell_X {
    background-color: var(--background_X);
}

.symbol {
    font-size: 35px;
}

.symbol-o {
    color: var(--color_O);
}

.symbol-x {
    color: var(--color_X);
}

.game_disabled .symbol-o,
.game_disabled .symbol-x {
    color: var(--primary-color);
}
