html,
body,
#root,
.app,
.game {
    width: 100%;
    height: 100%;
}

.app,
.game-cell,
.game-step {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 400px;
    height: 400px;
}

.game-info {
    text-align: center;
}

.game-step,
.game-result {
    padding: 10px;
}

.game-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.game-result-winner_O {
    background-color: #84c38f;
}

.game-result-winner_X {
    background-color: #bf8484;
}

.game-result span {
    display: flex;
    align-items: center;
}

.game-result .symbol,
.game-step .symbol {
    margin-left: 5px;
}

.game-restart {
    padding: 10px;
    border: 1px solid;
    color: #fff;
    cursor: pointer;
}

.game-result-winner_O .game-restart {
    border-color: #0a9822;
    background-color: #0a9822;
}

.game-result-winner_X .game-restart {
    border-color: #a31b1b;
    background-color: #a31b1b;
}

.game-fild {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.game-cell {
    flex: 0 0 33.333%;
    height: 130px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.game_disabled .game-cell {
    cursor: default;
}

.game-cell_O {
    background-color: #84c38f;
}

.game-cell_X {
    background-color: #bf8484;
}

.symbol {
    font-size: 35px;
}

.symbol-o {
    color: #0a9822;
}

.symbol-x {
    color: #a31b1b;
}
